<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs Homepage</title>
</head>
<body>
    <form action="/story">
        <p>Place: <input name="place"></p>
        <p>Noun: <input name="noun"></p>
        <p>Verb: <input name="verb"></p>
        <p>Adjective: <input name="adjective"></p>
        <p>Plural_noun: <input name="plural_noun"></p>
        <input type="submit">
      </form>
</body>
</html>

